
@media only screen and (max-width: 900px) {
	#page-home{background-position-x: 70vw;}
	#page-home .content{
		align-items: center;
		text-align: center;
	}
	#page-home header a{
		position: absolute;
		bottom: 48px;
		left: 50%;
		transform: translateX(-50%);
	}
	#page-home main{
		align-items: center;
	}
	#page-resultado main .cards{
		grid-template-columns: 1fr;
	}
}
@media only screen and (min-width: 1550px) {
	#page-home{background-position-x: 45vw;}
}
@media only screen and (max-height: 2000px) {
	#page-home{
		background-position-y: 120px; 
	}	
}